
<!--============= ScrollToTop Section Starts Here =============-->
<div class="overlayer" id="overlayer">
    <div class="loader">
        <div class="loader-inner"></div>
    </div>
</div>
<a href="#0" class="scrollToTop"><i class="fas fa-angle-up"></i></a>
<div class="overlay"></div>
<!--============= ScrollToTop Section Ends Here =============-->
<app-navbar></app-navbar>

<!-- ============= Account Section Starts Here =============-->
<div class="bg_img hero-bg bottom_center" data-background="assets/images/banner/hero-bg.png"></div>
    <div class="container mt-lg--440 mt--100" style="margin-top:200px;">
        <div class="account-wrapper ">
            <div class="left-side">
                <div class="section-header">
                    <h2 class="title">HI, THERE</h2>
                    <p>You can log in to your Antique Auction account here.</p>
                </div>
                <ul class="login-with">
                    <li>
                        <a href="#0"><i class="fab fa-facebook"></i>Log in with Facebook</a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-google-plus"></i>Log in with Google</a>
                    </li>
                </ul>
                <div class="or">
                    <span>Or</span>
                </div>
                <div class="login-form">

                    <div class="form-group mb-30">
                        <label for="login-email"><i class="far fa-envelope"></i></label>
                        <input [(ngModel)]= 'email'  type="text" id="email" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <label for="login-pass"><i class="fas fa-lock"></i></label>
                        <input [(ngModel)]= 'password' type="password" id="password" placeholder="Password">
                        <span class="pass-type"><i class="fas fa-eye"></i></span>
                    </div>
                    <div class="form-group">
                        <a href="#0">Forgot Password?</a>
                    </div>
                    <div class="form-group mb-0">
                        <button class="custom-button" (click) = 'authintication()'>LOG IN</button>
                    </div>
                </div>
            </div>
            <div class="right-side cl-white bg-primary">
                <div class="section-header mb-0">
                    <h3 class="title mt-0">NEW HERE?</h3>
                    <p>Sign up and create your Account</p>
                    <a href="/account/register" class="custom-button">Sign Up</a>
                </div>
            </div>
        </div>
   </div>
 
<!--============= Account Section Ends Here ============= -->

<app-footer> </app-footer>