<div class="container mt--140">
    <div class="section-header-2 cl-white mb-4">
       
    </div>
    <div class="m--15">
        <div class="browse-slider owl-theme owl-carousel">
            <a href="#car" class="browse-item">
                <img src="./../../../assets/images/auction/01.png" alt="auction">
                <span class="info">Vehicles</span>
            </a>
            <a href="#jewelry" class="browse-item">
                <img src="./../../../assets/images/auction/02.png" alt="auction">
                <span class="info">Jewelry</span>
            </a>
            <a href="#watches" class="browse-item">
                <img src="./../../../assets/images/auction/03.png" alt="auction">
                <span class="info">Watches</span>
            </a>
            <!-- <a href="#0" class="browse-item">
                <img src="./../../../assets/images/auction/04.png" alt="auction">
                <span class="info">Electronics</span>
            </a> -->
            <a href="#coins" class="browse-item">
                <img src="./../../../assets/images/auction/05.png" alt="auction">
                <span class="info">Coins</span>
            </a>
            <!-- <a href="#0" class="browse-item">
                <img src="./../../../assets/images/auction/06.png" alt="auction">
                <span class="info">Real Estate</span>
            </a> -->
        </div>
    </div>