<!--============= ScrollToTop Section Starts Here =============-->
<div class="overlayer" id="overlayer">
    <div class="loader">
        <div class="loader-inner"></div>
    </div>
</div>
<a href="#0" class="scrollToTop"><i class="fas fa-angle-up"></i></a>
<div class="overlay"></div>
<!--============= ScrollToTop Section Ends Here =============-->
<app-navbar></app-navbar>


<!--============= Banner Section Starts Here =============-->
<section class="banner-section bg_img" data-background="./../../../assets/images/banner/banner-bg-1.png">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 col-xl-6">
                <div class="banner-content cl-white">
                    <h5 class="cate">Next Generation Auction</h5>
                    <h1 class="title"><span class="d-xl-block">Find Your</span> Next Deal!</h1>
                    <p>
                        Online Auction is where everyone goes to shop, sell,and give, while discovering variety and affordability.
                    </p>
                    <a href="#0" class="custom-button yellow btn-large">Get Started</a>
                </div>
            </div>
            <div class="d-none d-lg-block col-lg-6">
                <div class="banner-thumb-2">
                    <img src="./../../../assets/images/banner/banner-1.png" alt="banner">
                </div>
            </div>
        </div>
    </div>
    <div class="banner-shape d-none d-lg-block">
        <img src="./../../../assets/css/img/banner-shape.png" alt="css">
    </div>
</section>
<!--============= Banner Section Ends Here =============-->



    <!--============= Hightlight Slider Section Ends Here =============-->
    <app-cards-slider> </app-cards-slider>


    <!--============= Car Auction Section Starts Here =============-->
    <section class="car-auction-section padding-bottom padding-top pos-rel oh" id="car">
        <div class="car-bg"><img src="./../../../assets/images/auction/car/car-bg.png" alt="car"></div>
        <div class="container">
            <div class="section-header-3">
                <div class="left">
                    <div class="thumb">
                        <img src="./../../../assets/images/header-icons/car-1.png" alt="header-icons">
                    </div>
                    <div class="title-area">
                        <h2 class="title">Vehicles</h2>
                        <p>We offer affordable Vehicles</p>
                    </div>
                </div>
                <a href="/cars" class="normal-button">View All</a>
            </div>
            <div class="row justify-content-center mb-30-none" >
                <div class="col-sm-10 col-md-6 col-lg-4"  *ngFor="let item of item.cars">
                    <div class="auction-item-2">
                        <div class="auction-thumb">
                            <a href="product-details.html"><img src="./../../../assets/img/{{item.imgPath}}" alt="car"></a>
                            <a href="#0" class="rating"><i class="far fa-star"></i></a>
                            <a href="#0" class="bid"><i class="flaticon-auction"></i></a>
                        </div>
                        <div class="auction-content">
                            <h6 class="title">
                                <a href="product-details.html">{{item.name}}</a>
                            </h6>
                            <div class="bid-area">
                                <div class="bid-amount">
                                    <div class="icon">
                                        <i class="flaticon-auction"></i>
                                    </div>
                                    <div class="amount-content">
                                        <div class="current">Current Bid</div>
                                        <div class="amount">{{item.startPrice}}</div>
                                    </div>
                                </div>
                                <div class="bid-amount">
                                    <div class="icon">
                                        <i class="flaticon-money"></i>
                                    </div>
                                    <div class="amount-content">
                                        <div class="current">Buy Now</div>
                                        <div class="amount">{{item.startPrice}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="countdown-area">
                                <div class="countdown">
                                    <div id="bid_counter26"></div>
                                </div>
                                <span class="total-bids">30 Bids</span>
                            </div>
                            <div class="text-center">
                                <button class="custom-button" (click)="openDialog(item.id)">Submit a bid</button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                </div>
    </section>
    <!--============= Car Auction Section Ends Here =============-->



<!--============= Jewelry Auction Section Starts Here =============-->
<section class="jewelry-auction-section padding-bottom padding-top pos-rel" id="jewelry">
    <div class="jewelry-bg d-none d-xl-block"><img src="./../../../assets/images/auction/jewelry/jwelry-bg.png" alt="jewelry"></div>
    <div class="container">
        <div class="section-header-3">
            <div class="left">
                <div class="thumb">
                    <img src="./../../../assets/images/header-icons/jewelry-1.png" alt="header-icons">
                </div>
                <div class="title-area">
                    <h2 class="title">Jewelry</h2>
                    <p>Online jewelry auctions where you can bid now and save money</p>
                </div>
            </div>
            <a href="/jewelry" class="normal-button">View All</a>
        </div>
        <div class="row justify-content-center mb-30-none" >
            <div class="col-sm-10 col-md-6 col-lg-4"  *ngFor="let item of item.jewelry">
                <div class="auction-item-2">
                    <div class="auction-thumb">
                        <a href="product-details.html"><img src="./../../../assets/img/{{item.imgPath}}" alt="jewelry"></a>
                        <a href="#0" class="rating"><i class="far fa-star"></i></a>
                        <a href="#0" class="bid"><i class="flaticon-auction"></i></a>
                    </div>
                    <div class="auction-content">
                        <h6 class="title">
                            <a href="product-details.html">{{item.name}}</a>
                        </h6>
                        <div class="bid-area">
                            <div class="bid-amount">
                                <div class="icon">
                                    <i class="flaticon-auction"></i>
                                </div>
                                <div class="amount-content">
                                    <div class="current">Current Bid</div>
                                    <div class="amount">{{item.startPrice}}</div>
                                </div>
                            </div>
                            <div class="bid-amount">
                                <div class="icon">
                                    <i class="flaticon-money"></i>
                                </div>
                                <div class="amount-content">
                                    <div class="current">Buy Now</div>
                                    <div class="amount">{{item.startPrice}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="countdown-area">
                            <div class="countdown">
                                <div id="bid_counter23"></div>
                            </div>
                            <span class="total-bids">30 Bids</span>
                        </div>
                        <div class="text-center">
                            <button class="custom-button" (click)="openDialog(item.id)">Submit a bid</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!--============= Jewelry Auction Section Ends Here =============-->


<!--============= Call In Section Starts Here =============-->
<section class="call-in-section padding-top pt-max-xl-0">
    <div class="container">
        <div class="call-wrapper cl-white bg_img" data-background="./../../../assets/images/call-in/call-bg.png">
            <div class="section-header">
                <h3 class="title">Register for Free & Start Bidding Now!</h3>
                <p>From cars to diamonds to iPhones, we have it all.</p>
            </div>
            <a href="http://localhost:4200/account/register" class="custom-button white">Register</a>
        </div>
    </div>
</section>
<!--============= Call In Section Ends Here =============-->


<!--============= Watches Auction Section Starts Here =============-->
<section class="watches-auction-section padding-bottom padding-top" id="watches">
    <div class="container">
        <div class="section-header-3">
            <div class="left">
                <div class="thumb">
                    <img src="./../../../assets/images/header-icons/watch-1.png" alt="header-icons">
                </div>
                <div class="title-area">
                    <h2 class="title">Watches</h2>
                    <p>Shop for men & women designer brand watches</p>
                </div>
            </div>
            <a href="/watches" class="normal-button">View All</a>
        </div>
        <div class="row justify-content-center mb-30-none"  >
            <div class="col-sm-10 col-md-6 col-lg-4" *ngFor="let item of item.watches" >
                <div class="auction-item-2">
                    <div class="auction-thumb">
                        <a href="product-details.html"><img src="./../../../assets/img/{{item.imgPath}}" alt="watches"></a>
                        <a href="#0" class="rating"><i class="far fa-star"></i></a>
                        <a href="#0" class="bid"><i class="flaticon-auction"></i></a>
                    </div>
                    <div class="auction-content">
                        <h6 class="title">
                            <a href="product-details.html">{{item.name}}</a>
                        </h6>
                        <div class="bid-area">
                            <div class="bid-amount">
                                <div class="icon">
                                    <i class="flaticon-auction"></i>
                                </div>
                                <div class="amount-content">
                                    <div class="current">Current Bid</div>
                                    <div class="amount">{{item.startPrice}}</div>
                                </div>
                            </div>
                            <div class="bid-amount">
                                <div class="icon">
                                    <i class="flaticon-money"></i>
                                </div>
                                <div class="amount-content">
                                    <div class="current">Buy Now</div>
                                    <div class="amount">{{item.startPrice}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="countdown-area">
                            <div class="countdown">
                                <div id="bid_counter20"></div>
                            </div>
                            <span class="total-bids">30 Bids</span>
                        </div>
                        <div class="text-center">
                            <button class="custom-button" (click)="openDialog(item.id)">Submit a bid</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!--============= Watches Auction Section Ends Here =============-->


<!--============= Popular Auction Section Starts Here =============-->
<section class="popular-auction padding-top pos-rel">
    <div class="popular-bg bg_img" data-background="./../../../assets/images/auction/popular/popular-bg.png"></div>
    <div class="container">
        <div class="section-header cl-white">
            <span class="cate">Closing Within 24 Hours</span>
            <h2 class="title">Popular Auctions</h2>
            <p>Bid and win great deals,Our auction process is simple, efficient, and transparent.</p>
        </div>
        <div class="popular-auction-wrapper">
            <div class="row justify-content-center mb-30-none">
                
                <div class="col-lg-6" *ngFor="let item of item.popular">
                    <div class="auction-item-3">
                        <div class="auction-thumb">
                            <a href="product-details.html"><img src="./../../../assets/img/{{item.imgPath}}" alt="popular"></a>
                            <a href="#0" class="bid"><i class="flaticon-auction"></i></a>
                        </div>

                        <div class="auction-content">
                            <h6 class="title">
                                <a href="product-details.html">{{item.name}}</a>
                            </h6>
                            <div class="bid-amount">
                                <div class="icon">
                                    <i class="flaticon-auction"></i>
                                </div>
                                <div class="amount-content">
                                    <div class="current">Current Bid</div>
                                    <div class="amount">${{item.startPrice}}</div>
                                </div>
                            </div>
                            <div class="bids-area">
                                Total Bids : <span class="total-bids">130 Bids</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
     </div>
 </section>
               
<!--============= Popular Auction Section Ends Here =============-->


<!--============= Coins and Bullion Auction Section Starts Here =============-->
<section class="coins-and-bullion-auction-section padding-bottom padding-top pos-rel pb-max-xl-0" id="coins">
    <div class="jewelry-bg d-none d-xl-block"><img src="./../../../assets/images/auction/coins/coin-bg.png" alt="coin"></div>
    <div class="container">
        <div class="section-header-3">
            <div class="left">
                <div class="thumb">
                    <img src="./../../../assets/images/header-icons/coin-1.png" alt="header-icons">
                </div>
                <div class="title-area">
                    <h2 class="title">Coins & Bullion</h2>
                    <p>Discover rare, foreign, & ancient coins that are worth collecting</p>
                </div>
            </div>
            <a href="/coins" class="normal-button">View All</a>
        </div>
        <div class="row justify-content-center mb-30-none" >
            <div class="col-sm-10 col-md-6 col-lg-4" *ngFor="let item of item.coins">
                <div class="auction-item-2">
                    <div class="auction-thumb">
                        <a href="product-details.html"><img src="./../../../assets/img/{{item.imgPath}}" alt="coins"></a>
                        <a href="#0" class="rating"><i class="far fa-star"></i></a>
                        <a href="#0" class="bid"><i class="flaticon-auction"></i></a>
                    </div>
                    <div class="auction-content">
                        <h6 class="title">
                            <a href="product-details.html">{{item.name}}</a>
                        </h6>
                        <div class="bid-area">
                            <div class="bid-amount">
                                <div class="icon">
                                    <i class="flaticon-auction"></i>
                                </div>
                                <div class="amount-content">
                                    <div class="current">Current Bid</div>
                                    <div class="amount">{{item.startPrice}}</div>
                                </div>
                            </div>
                            <div class="bid-amount">
                                <div class="icon">
                                    <i class="flaticon-money"></i>
                                </div>
                                <div class="amount-content">
                                    <div class="current">Buy Now</div>
                                    <div class="amount">{{item.startPrice}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="countdown-area">
                            <div class="countdown">
                                <div id="bid_counter17"></div>
                            </div>
                            <span class="total-bids">30 Bids</span>
                        </div>
                        <div class="text-center">
                            <button class="custom-button" (click)="openDialog(item.id)">Submit a bid</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        </div>
    
</section>
<!--============= Coins and Bullion Auction Section Ends Here =============-->


<!--============= How Section Starts Here =============-->
<section class="how-section padding-top">
    <div class="container">
        <div class="how-wrapper section-bg">
            <div class="section-header text-lg-left">
                <h2 class="title">How it works</h2>
                <p>Easy 3 steps to win</p>
            </div>
            <div class="row justify-content-center mb--40">
                <div class="col-md-6 col-lg-4">
                    <div class="how-item">
                        <div class="how-thumb">
                            <img src="./../../../assets/images/how/how1.png" alt="how">
                        </div>
                        <div class="how-content">
                            <h4 class="title">Sign Up</h4>
                            <p>No Credit Card Required</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="how-item">
                        <div class="how-thumb">
                            <img src="./../../../assets/images/how/how2.png" alt="how">
                        </div>
                        <div class="how-content">
                            <h4 class="title">Bid</h4>
                            <p>Bidding is free Only pay if you win</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="how-item">
                        <div class="how-thumb">
                            <img src="./../../../assets/images/how/how3.png" alt="how">
                        </div>
                        <div class="how-content">
                            <h4 class="title">Win</h4>
                            <p>Fun - Excitement - Great deals</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--============= How Section Ends Here =============-->


<!--============= Client Section Starts Here =============-->
<section class="client-section padding-top padding-bottom">
    <div class="container">
        <div class="section-header">
            <h2 class="title">Don’t just take our word for it!</h2>
            <p>Our hard work is paying off. Great reviews from amazing customers.</p>
        </div>
        <div class="m--15">
            <div class="client-slider owl-theme owl-carousel">
                <div class="client-item">
                    <div class="client-content">
                        <p>I can't stop bidding! It's a great way to spend some time and I want everything on Sbidu.</p>
                    </div>
                    <div class="client-author">
                        <div class="thumb">
                            <a href="#0">
                                <img src="./../../../assets/images/client/client01.png" alt="client">
                            </a>
                        </div>
                        <div class="content">
                            <h6 class="title"><a href="#0">Alexis Moore</a></h6>
                            <div class="ratings">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="client-item">
                    <div class="client-content">
                        <p>I came I saw I won. Love what I have won, and will try to win something else.</p>
                    </div>
                    <div class="client-author">
                        <div class="thumb">
                            <a href="#0">
                                <img src="./../../../assets/images/client/client02.png" alt="client">
                            </a>
                        </div>
                        <div class="content">
                            <h6 class="title"><a href="#0">Darin Griffin</a></h6>
                            <div class="ratings">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="client-item">
                    <div class="client-content">
                        <p>This was my first time, but it was exciting. I will try it again. Thank you so much.</p>
                    </div>
                    <div class="client-author">
                        <div class="thumb">
                            <a href="#0">
                                <img src="./../../../assets/images/client/client03.png" alt="client">
                            </a>
                        </div>
                        <div class="content">
                            <h6 class="title"><a href="#0">Tom Powell</a></h6>
                            <div class="ratings">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--============= Client Section Ends Here =============-->


<app-footer></app-footer>
