<div class="dash-pro-item dashboard-widget">
<h2 mat-dialog-title>Insert Item</h2>
<mat-dialog-content class="mat-typography">
    <form class="login-form" [formGroup]="form" (ngSubmit)="getvalue()">
        <div class="form-group mb-30">
            <label for="login-Fname"><i class="far fa-envelope"></i></label>
            <input type="text" id="login-Fname" placeholder="Item Name" formControlName="name" required>
        </div>
        <div class="form-group mb-30">
            <label for="login-Lname"><i class="far fa-envelope"></i></label>
            <input type="text" id="login-Lname" placeholder="Item Description" formControlName="description" required>
        </div>
        <div class="form-group mb-30">
            <label for="login-Phone"><i class="far fa-envelope"></i></label>
            <input type="number" id="login-Phone" placeholder="StartPrice" formControlName="startprice" required>
        </div>

        <div class="form-group mb-30">
            <!-- <label for="login-email"><i class="far fa-envelope"></i></label> -->
            <input type="number" id="login-email" placeholder="UserId" formControlName="userid" hidden>
        </div>

        <div class="form-group mb-30">
            <label for="login-email"><i class="far fa-envelope"></i></label>
            <input type="date" id="login-email" placeholder="End Date" formControlName="end_date" required>
        </div>
        <div class="form-group mb-30">
            <label for="login-email"><i class="far fa-envelope"></i></label>
            <input #imgpath type="file" accept="image/*" formControlName="imgpath" (change)="upload(imgpath.files)" />
        </div>

        <!-- <input type="text" id="login-email" placeholder="End Date" formControlName="imageName" [value]="imageName1"  > -->
        
        <div class="form-group mb-30">
            <label for="login-pass"><i class="fas fa-lock">Select a Category</i></label>
            <select id="cat-options" formControlName="catId">
                <option value=21 >Cars</option>
                <option value=22>Coins</option>
                <option value=42>Watches</option>
                <option value=41>Jewelry</option>
            </select>
            <span class="pass-type"><i class="fas fa-eye"></i></span>
        </div>
        
        <div class="form-group mb-0">
            <button type="submit" class="custom-button">Add Item for auction</button>
        </div>
    </form>
</mat-dialog-content>
<!-- <mat-dialog-actions align="end">
    <button class="btn-button bg-danger text-white" mat-dialog-close >Close</button>
</mat-dialog-actions> -->

</div>