
                <div class="row">
                    <div class="col-12">
                        <div class="dash-pro-item mb-30 dashboard-widget">
                            <div class="header">
                                <h4 class="title">Personal Details</h4>
                                <span class="edit"><button mat-button (click)="OpenUpdateDialog()"><i class="flaticon-edit"></i> Edit</button></span>
                            </div>
                            <ul class="dash-pro-body">
                                <li>
                                    <div class="info-name"> Name</div>
                                    <div class="info-value">{{x.firstName}}&nbsp;{{x.lastName}}</div>
                                </li>
                                <li>
                                    <div class="info-name">Email</div>
                                    <div class="info-value">{{x.email}}</div>
                                </li>
                                <li>
                                    <div class="info-name">Phone</div>
                                    <div class="info-value">{{x.phone}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
           