<app-navbar> </app-navbar>
<!--============= Dashboard Section Starts Here =============-->
<div class="bg_img hero-bg bottom_center" data-background="assets/images/banner/hero-bg.png"></div>
<section class="dashboard-section padding-bottom pos-rel" style="margin-top: 250px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-7 col-lg-4">
                <div class="dashboard-widget mb-30 mb-lg-0 sticky-menu">
                    <div class="user">
                        <div class="thumb-area">
                            <div class="thumb">
                                <img src="assets/images/dashboard/user.png" alt="user">
                            </div>
                            <label for="profile-pic" class="profile-pic-edit"><i class="flaticon-pencil"></i></label>
                            <input type="file" id="profile-pic" class="d-none">
                        </div>
                        <div class="content">
                            <h6 class="title">{{uName}}</h6>
                            <button class="btn btn-danger" (click)='Logout()'>Logout</button>
                            
                        </div>
                    </div>
                    <ul class="dashboard-menu">
                        <li>
                            <a [routerLink]="'/dashboard/Admin'"><i class="flaticon-dashboard"></i>Admin Dashboard</a>
                        </li>
                        
                        <li>
                            <a href="my-bid.html"><i class="flaticon-auction"></i>My Bids</a>
                        </li>
                        <li>
                            <a href="winning-bids.html"><i class="flaticon-best-seller"></i>Winning Bids</a>
                        </li>
                        <li>
                            <a href="notifications.html"><i class="flaticon-alarm"></i>My Alerts</a>
                        </li>
                        <li>
                            <a href="my-favorites.html"><i class="flaticon-star"></i>My Favorites</a>
                        </li>
                        <li>
                            <a href="referral.html"><i class="flaticon-shake-hand"></i>Referrals</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <div class="dash-pro-item mb-30 dashboard-widget">
                            <div class="header">
                                <h4 class="title">Personal Details</h4>
                                <span class="edit"><button mat-button (click)="OpenUpdateDialog()"><i class="flaticon-edit"></i> Edit</button></span>
                            </div>
                            <ul class="dash-pro-body">
                                <li>
                                    <div class="info-name"> Name</div>
                                    <div class="info-value">{{x.firstName}}&nbsp;{{x.lastName}}</div>
                                </li>
                                <li>
                                    <div class="info-name">Email</div>
                                    <div class="info-value">{{x.email}}</div>
                                </li>
                                <li>
                                    <div class="info-name">Phone</div>
                                    <div class="info-value">{{x.phone}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

<!--*************************************-->

</section>
<!--============= Dashboard Section Ends Here =============-->

<app-footer> </app-footer>